@model BookLibrary.ViewModels.Book.BookCreateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="raw" style="margin-top: 20px;">
        <div class="col-md-2">
            <a href="@Url.Action("Index", "Book", null)" class="btn btn-primary">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                Books
            </a>
        </div>
        <div class="col-md-6">
            <h2 class="red-fg">Edit book</h2>
        </div>
    </div>
    <div class="raw">
        <div class="col-md-8">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table class="table form-horizontal" style="margin-top:20px;">
                    <colgroup>
                        <col class="col-md-3">
                        <col class="col-md-9">
                    </colgroup>
                    <tbody class="form-group">
                        <tr>
                            <th style="background-color:lightsteelblue; color: white;">
                                @Html.DisplayNameFor(model => model.ModelName)
                            </th>
                            <th style="background-color:lightsteelblue;"></th>
                        </tr>

                        @*Cover image*@
                        <tr>

                            <td>
                                @if (string.IsNullOrEmpty(Model.PictureUrl))
                                {
                                    <img src="~/Assets/Images/book-default.png" alt="default picture" height="100" />
                                }
                                else
                                {
                                    <img src="@Html.Encode(Model.PictureUrl)" alt="" height="100" />
                                }

                            </td>
                            <td>                                
                            </td>
                        </tr>

                        @*Title*@
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label pull-right" })
                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>

                        @*Description*@
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label pull-right" })
                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(m => m.CreationDate)
                            </td>
                        </tr>

                        @*Pages*@
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Pages, htmlAttributes: new { @class = "control-label pull-right" })
                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.Pages, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.Pages, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>

                        @*Author*@
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.AuthorSelectList, htmlAttributes: new { @class = "control-label pull-right" })
                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.AuthorSelectList, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(x => x.SelectedAuthorId, Model.AuthorSelectList)
                            </td>
                        </tr>

                        @*Genre*@
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.GenreSelectList, htmlAttributes: new { @class = "control-label pull-right" })
                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.GenreSelectList, "", new { @class = "text-danger" })
                                @Html.DropDownListFor(x => x.SelectedGenreId, Model.GenreSelectList)
                            </td>
                        </tr>

                        @*Picture*@
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.PictureUrl, htmlAttributes: new { @class = "control-label pull-right" })
                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.PictureUrl, "", new { @class = "text-danger" })
                                @Html.EditorFor(model => model.PictureUrl, new { htmlAttributes = new { @class = "form-control" } })
                            </td>
                        </tr>

                        <tr>
                            <td style="background-color:lightsteelblue">&nbsp;</td>
                            <td style="background-color:lightsteelblue">
                                <button type="reset"
                                        id="resetButton"
                                        onclick="location.href='@Url.Action("Index","Genre")'"
                                        class="btn btn-default">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    Cancel
                                </button>
                                <button type="submit"
                                        id="saveButton"
                                        value="Edit"
                                        onclick="location.href='@Url.Action("Edit","Genre")'"
                                        class="btn btn-default disabled">
                                    <span class="glyphicon glyphicon-floppy-save"></span>
                                    Save
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

        function enableSaveButton(){
            var saveButton = $('#saveButton');

            saveButton.removeClass('disabled');
            saveButton.removeClass('btn-default');
            saveButton.addClass('enabled');
            saveButton.addClass('btn-primary');
        }

        function disableSaveButton(){
            var saveButton = $('#saveButton');
            saveButton.removeClass('enabled')
            saveButton.removeClass('btn-primary')
            saveButton.addClass('disabled');
            saveButton.addClass('btn-default');
        }

        function validateForm() {
            var editForm = $('#editForm');
            var validator = editForm.validate();
            validator.form();

            if (editForm.valid()) {
                console.log(editForm.valid());
                enableSaveButton();
            } else {
                console.log(editForm.valid());
                disableSaveButton();
            }
        }

        // Enable save button on load, assume you are going to edit a valid item
        $(document).ready(function(){
            enableSaveButton();
        });

        $(document).ready(function () {
            $('#Name').on("input", function () {
                validateForm();
            });
        });
</script>

