@model IEnumerable<BookLibrary.ViewModels.Book.BookMainViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="raw" style="margin-top: 20px;">
        <div class="col-md-2 table-bordered-no">
            <a href="@Url.Action("Index", "Book", null)" class="btn btn-primary">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                Admin
            </a>
        </div>
        <div class="col-md-6 table-bordered-no">
            <h2 class="red-fg">List of books</h2>
        </div>
    </div>
    <div class="raw">
        <div class="col-md-12 table-bordered-no">

            <table class="table table-striped" style="margin-top:20px;">
                <colgroup>
                    <col class="col-md-1">
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-1">
                    <col class="col-md-2">
                </colgroup>
                <tbody>
                    <tr>
                        <th style="background-color:lightsteelblue; color: white;">
                            @Html.DisplayNameFor(model => model.Picture)
                        </th>
                        <th style="background-color:lightsteelblue; color: white;">
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th style="background-color:lightsteelblue; color: white;">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th style="background-color:lightsteelblue; color: white;">
                            @Html.DisplayNameFor(model => model.Pages)
                        </th>
                        <th style="background-color:lightsteelblue; color: white;">
                            @Html.DisplayNameFor(model => model.CreationDate)
                        </th>

                        <th style="background-color:lightsteelblue;"></th>
                    </tr>

                    @if (Model == null)
                    {
                        <tr>
                            <td>No books in the library yet</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.Picture == null)
                                    {
                                        <img src="~/Assets/Images/book-default.png" alt="default picture" width="100" height="50" />
                                    }
                                    else
                                    {
                                        <img src="@Html.Encode(item.Picture.Url)" alt="" width="100" height="50" />
                                    }
                                    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pages)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreationDate)
                                </td>

                                <td>
                                    <a href="@Url.Action("Details", "Books", new { id = item.Id })" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                        Details
                                    </a>
                                    <a href="@Url.Action("Edit", "Books", new { id = item.Id })" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        Edit
                                    </a>
                                    <a href="@Url.Action("ViewDeleteConfirm", "Books", new { id = item.Id })" class="btn btn-danger modal-link">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    }

                    
                    <tr>
                        <td style="background-color:lightsteelblue"></td>
                        <td style="background-color:lightsteelblue">
                            <a href="@Url.Action("Create", "Book")" class="btn btn-primary pull-right">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Create New
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>





